<%
    let subtotal = precio;
    let impuesto = 0.0;
    let descuento = 0.0;
    let totPagar = 0.0;

    if(tipViaje == 2){
        subtotal = precio * 1.80;
    }
    
    if(añosCum >= 60){
        descuento = subtotal * 0.50;
    }

    impuesto = (subtotal - descuento) * 0.16;
    totPagar = subtotal + impuesto;
%>

<div class="for">
    <label for="">Subtotal</label>
    <input type="number" value="<%=subtotal%>" id="subtotal" name="subtotal" readonly>
</div>

<div class="for">
    <label for="">Impuesto 16%</label>
    <input type="number" value="<%=impuesto%>" id="impuesto" name="impuesto" readonly>
</div>

<div class="for">
    <label for="">Descuento</label>
    <input type="number" value="<%=descuento%>" id="descuento" name="descuento" readonly>
</div>

<div class="for">
    <label for="">Total a pagar</label>
    <input type="number" value="<%=totPagar%>" id="totPagar" name="totPagar" readonly>
</div>