<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<%-include('partials/encabezado.html');%>
<body>
    <div class="container">
        <form action="/" method="post" id="formulario">
            <div class="for">
                <label for="">Numero de boleto</label>
                <input type="text" id="numBoleto" name="numBoleto" placeholder="Boleto" required="true">
            </div>

            <div class="for">
                <label for="">Destino</label>
                <input type="text" id="destino" name="destino" placeholder="Destino" required="true">
            </div>

            <div class="for">
                <label for="">Nombre del Cliente</label>
                <input type="text" id="nomCliente" name="nomCliente" placeholder="Cliente" required="true">
            </div>

            <div class="for">
                <label for="">Años cumplidos</label>
                <input type="number" id="añosCum" name="añosCum" placeholder="Años" required="true">
            </div>

            <div class="for">
                <label for="">Tipo de viaje</label>
                <select id="tipViaje" name="tipViaje">
                    <option value="1">Sencillo</option>
                    <option value="2">Doble</option>
                </select>
            </div>

            <div class="for">
                <label for="">Precio</label>
                <input type="number" id="precio" name="precio" placeholder="Precio" required="true">
            </div>

            <hr>

            <div class="for">
                <button type="submit">Calcular</button>
                <button type="reset" id="reset">Limpiar</button>
            </div>

            <%-include('partials/calculos.html');%>
        </form>
    </div>
</body>
<%-include('partials/pie-pagina.html');%>
<script src="./js/bootstrap.bundle.min.js"></script>
<script src="./js/main.js"></script>
</html>