*{
    margin: 0 auto;
    padding: 0 auto;
}

body{
    background-color: rgb(45, 118, 202);
}

header{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

header img{
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

footer{
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: aqua;
    display: flex;
    align-items: center;
}

#formulario{
    background-color: darkgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 230px);
}

.for{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.for input{
    text-align: center;
}